<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_Box1_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,412},{180,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,146}}</string>
                <key>sourceSize</key>
                <string>{180,146}</string>
            </dict>
            <key>Button_Box1_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,254},{185,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,156}}</string>
                <key>sourceSize</key>
                <string>{185,156}</string>
            </dict>
            <key>daoju_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,778},{152,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{152,136}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>daoju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,560},{152,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{152,136}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>daoju_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,640},{152,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{152,136}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>daoju_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,560},{152,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{152,136}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>daoju_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,502},{152,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{152,136}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>lucky_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,856},{250,156}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{250,156}}</string>
                <key>sourceSize</key>
                <string>{250,330}</string>
            </dict>
            <key>lucky_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,254},{250,246}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{250,246}}</string>
                <key>sourceSize</key>
                <string>{250,330}</string>
            </dict>
            <key>lucky_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,572},{250,282}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{250,282}}</string>
                <key>sourceSize</key>
                <string>{250,330}</string>
            </dict>
            <key>lucky_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{250,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,330}</string>
            </dict>
            <key>lucky_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{250,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,330}</string>
            </dict>
            <key>lucky_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{250,324}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,324}}</string>
                <key>sourceSize</key>
                <string>{250,330}</string>
            </dict>
            <key>lucky_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,324}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,324}}</string>
                <key>sourceSize</key>
                <string>{250,330}</string>
            </dict>
            <key>lucky_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,330}}</string>
                <key>sourceSize</key>
                <string>{250,330}</string>
            </dict>
            <key>lucky_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,254},{250,316}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,316}}</string>
                <key>sourceSize</key>
                <string>{250,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boxLayer.png</string>
            <key>size</key>
            <string>{968,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f43984f58aac9b065526a99d3d70a48b$</string>
            <key>textureFileName</key>
            <string>boxLayer.png</string>
        </dict>
    </dict>
</plist>
