<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_continue_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,43},{176,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,69}}</string>
                <key>sourceSize</key>
                <string>{176,69}</string>
            </dict>
            <key>Button_continue_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{176,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,69}}</string>
                <key>sourceSize</key>
                <string>{176,69}</string>
            </dict>
            <key>CorrectRate.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,73},{176,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,32}}</string>
                <key>sourceSize</key>
                <string>{176,32}</string>
            </dict>
            <key>bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>category_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,527},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,527},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,317},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,291},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,247},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,247},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,221},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,177},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,177},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,107},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,107},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,501},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,457},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,457},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,431},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,387},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,387},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,361},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>category_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,317},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>column.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{72,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,39}}</string>
                <key>sourceSize</key>
                <string>{72,39}</string>
            </dict>
            <key>spriteContent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,43},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{967,321}</string>
            </dict>
            <key>spriteSingle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,43},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{82,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CategoryDetail.png</string>
            <key>size</key>
            <string>{1024,1028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9af40de6145b10b68b39abcbc8761883$</string>
            <key>textureFileName</key>
            <string>CategoryDetail.png</string>
        </dict>
    </dict>
</plist>
