<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_next_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,100},{227,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,96}}</string>
                <key>sourceSize</key>
                <string>{227,96}</string>
            </dict>
            <key>Button_next_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{227,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,96}}</string>
                <key>sourceSize</key>
                <string>{227,96}</string>
            </dict>
            <key>averageScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{581,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,88}}</string>
                <key>sourceSize</key>
                <string>{581,88}</string>
            </dict>
            <key>container.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{745,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{745,491}}</string>
                <key>sourceSize</key>
                <string>{745,491}</string>
            </dict>
            <key>examScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{581,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,88}}</string>
                <key>sourceSize</key>
                <string>{581,88}</string>
            </dict>
            <key>fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,773},{304,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,209}}</string>
                <key>sourceSize</key>
                <string>{304,209}</string>
            </dict>
            <key>fail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{208,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,75}}</string>
                <key>sourceSize</key>
                <string>{208,75}</string>
            </dict>
            <key>finalScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{581,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,89}}</string>
                <key>sourceSize</key>
                <string>{581,89}</string>
            </dict>
            <key>font.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{696,287}</string>
            </dict>
            <key>pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,198},{304,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,209}}</string>
                <key>sourceSize</key>
                <string>{304,209}</string>
            </dict>
            <key>pass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,691},{209,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,74}}</string>
                <key>sourceSize</key>
                <string>{209,74}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,495},{276,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,80}}</string>
                <key>sourceSize</key>
                <string>{276,80}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{581,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,89}}</string>
                <key>sourceSize</key>
                <string>{581,89}</string>
            </dict>
            <key>sumUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,504},{185,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,77}}</string>
                <key>sourceSize</key>
                <string>{185,77}</string>
            </dict>
            <key>sumUp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,947},{186,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,75}}</string>
                <key>sourceSize</key>
                <string>{186,75}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{581,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,88}}</string>
                <key>sourceSize</key>
                <string>{581,88}</string>
            </dict>
            <key>wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,495},{275,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,80}}</string>
                <key>sourceSize</key>
                <string>{275,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ConclusionUI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08a6c072544ba2fa89711eaeeeb06708$</string>
            <key>textureFileName</key>
            <string>ConclusionUI.png</string>
        </dict>
    </dict>
</plist>
