<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1165},{465,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,101}}</string>
                <key>sourceSize</key>
                <string>{465,101}</string>
            </dict>
            <key>A_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1165},{465,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,101}}</string>
                <key>sourceSize</key>
                <string>{465,101}</string>
            </dict>
            <key>B_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1165},{465,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,102}}</string>
                <key>sourceSize</key>
                <string>{465,102}</string>
            </dict>
            <key>B_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1165},{465,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,102}}</string>
                <key>sourceSize</key>
                <string>{465,102}</string>
            </dict>
            <key>Button_A_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1165},{465,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,101}}</string>
                <key>sourceSize</key>
                <string>{465,101}</string>
            </dict>
            <key>Button_A_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1165},{465,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,101}}</string>
                <key>sourceSize</key>
                <string>{465,101}</string>
            </dict>
            <key>Button_B_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1165},{465,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,102}}</string>
                <key>sourceSize</key>
                <string>{465,102}</string>
            </dict>
            <key>Button_B_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1165},{465,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,102}}</string>
                <key>sourceSize</key>
                <string>{465,102}</string>
            </dict>
            <key>Button_C_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,618},{465,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,102}}</string>
                <key>sourceSize</key>
                <string>{465,102}</string>
            </dict>
            <key>Button_C_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,514},{465,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,102}}</string>
                <key>sourceSize</key>
                <string>{465,102}</string>
            </dict>
            <key>Button_ChangeQuestion_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1974},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>Button_ChangeQuestion_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1974},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>Button_ChangeQuestion_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1974},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>Button_CutOneWrong_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1959},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>Button_CutOneWrong_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1959},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>Button_CutOneWrong_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1959},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>Button_D_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,410},{465,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,102}}</string>
                <key>sourceSize</key>
                <string>{465,102}</string>
            </dict>
            <key>Button_D_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,306},{465,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,102}}</string>
                <key>sourceSize</key>
                <string>{465,102}</string>
            </dict>
            <key>Button_RecoverTime_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1974},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>Button_RecoverTime_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,565},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>Button_RecoverTime_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,565},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>Button_ToTwoOptions_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1959},{75,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
            <key>Button_ToTwoOptions_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,1959},{75,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
            <key>Button_ToTwoOptions_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1959},{75,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
            <key>Button_pause_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,634},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>Button_pause_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,565},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>C_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,202},{465,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,102}}</string>
                <key>sourceSize</key>
                <string>{465,102}</string>
            </dict>
            <key>C_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,98},{465,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,102}}</string>
                <key>sourceSize</key>
                <string>{465,102}</string>
            </dict>
            <key>D_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,98},{465,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,102}}</string>
                <key>sourceSize</key>
                <string>{465,102}</string>
            </dict>
            <key>D_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,98},{465,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,102}}</string>
                <key>sourceSize</key>
                <string>{465,102}</string>
            </dict>
            <key>S_changtai_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1043},{120,237}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,237}}</string>
                <key>sourceSize</key>
                <string>{120,247}</string>
            </dict>
            <key>S_gaoxing_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1043},{120,238}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,238}}</string>
                <key>sourceSize</key>
                <string>{120,248}</string>
            </dict>
            <key>S_ku_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1043},{120,238}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,238}}</string>
                <key>sourceSize</key>
                <string>{120,248}</string>
            </dict>
            <key>T_changtai_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,871},{140,168}}</string>
                <key>offset</key>
                <string>{70,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,16},{140,168}}</string>
                <key>sourceSize</key>
                <string>{280,184}</string>
            </dict>
            <key>T_changtai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,274},{270,168}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{270,168}}</string>
                <key>sourceSize</key>
                <string>{280,184}</string>
            </dict>
            <key>T_gaoxing_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1410},{172,184}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{172,184}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>T_shengqi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,871},{138,168}}</string>
                <key>offset</key>
                <string>{71,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,16},{138,168}}</string>
                <key>sourceSize</key>
                <string>{280,184}</string>
            </dict>
            <key>T_shengqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,871},{138,168}}</string>
                <key>offset</key>
                <string>{71,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,16},{138,168}}</string>
                <key>sourceSize</key>
                <string>{280,184}</string>
            </dict>
            <key>T_shengqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1025},{138,168}}</string>
                <key>offset</key>
                <string>{71,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,16},{138,168}}</string>
                <key>sourceSize</key>
                <string>{280,184}</string>
            </dict>
            <key>blackboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{665,287}</string>
            </dict>
            <key>blackboard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,2},{736,642}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,642}}</string>
                <key>sourceSize</key>
                <string>{736,642}</string>
            </dict>
            <key>book1.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1632},{243,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,325}}</string>
                <key>sourceSize</key>
                <string>{243,325}</string>
            </dict>
            <key>book2.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1632},{227,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,325}}</string>
                <key>sourceSize</key>
                <string>{227,325}</string>
            </dict>
            <key>category.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{265,253}</string>
            </dict>
            <key>jiang li_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{610,60}</string>
            </dict>
            <key>jiang li_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1043},{608,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{608,52}}</string>
                <key>sourceSize</key>
                <string>{610,60}</string>
            </dict>
            <key>jiang li_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1043},{604,54}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{604,54}}</string>
                <key>sourceSize</key>
                <string>{610,60}</string>
            </dict>
            <key>jiang li_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1043},{606,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{606,52}}</string>
                <key>sourceSize</key>
                <string>{610,60}</string>
            </dict>
            <key>kantucaiwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{570,240}</string>
            </dict>
            <key>kantucaiwu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,444},{597,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,265}}</string>
                <key>sourceSize</key>
                <string>{597,265}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,121},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>kuang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,870},{131,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,144}}</string>
                <key>sourceSize</key>
                <string>{131,144}</string>
            </dict>
            <key>kuang_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1043},{125,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,109}}</string>
                <key>sourceSize</key>
                <string>{125,109}</string>
            </dict>
            <key>qifaxingwenda.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1029,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1029,94}}</string>
                <key>sourceSize</key>
                <string>{1029,94}</string>
            </dict>
            <key>question_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,722},{249,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{249,95}}</string>
                <key>sourceSize</key>
                <string>{251,99}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,98},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>shijian dao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{377,376}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,7},{377,376}}</string>
                <key>sourceSize</key>
                <string>{491,388}</string>
            </dict>
            <key>shijian dao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,2},{271,270}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,59},{271,270}}</string>
                <key>sourceSize</key>
                <string>{491,388}</string>
            </dict>
            <key>shijian dao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1165},{243,240}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,75},{243,240}}</string>
                <key>sourceSize</key>
                <string>{491,388}</string>
            </dict>
            <key>shijian dao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,646},{223,222}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,84},{223,222}}</string>
                <key>sourceSize</key>
                <string>{491,388}</string>
            </dict>
            <key>shijian dao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,646},{223,222}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,84},{223,222}}</string>
                <key>sourceSize</key>
                <string>{491,388}</string>
            </dict>
            <key>shijian dao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,646},{223,222}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,84},{223,222}}</string>
                <key>sourceSize</key>
                <string>{491,388}</string>
            </dict>
            <key>shijian dao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1632},{297,340}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,26},{297,340}}</string>
                <key>sourceSize</key>
                <string>{491,388}</string>
            </dict>
            <key>shijian dao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1653},{381,388}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{381,388}}</string>
                <key>sourceSize</key>
                <string>{491,388}</string>
            </dict>
            <key>shijian dao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{491,388}</string>
            </dict>
            <key>sikao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,722},{132,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,256}}</string>
                <key>sourceSize</key>
                <string>{132,256}</string>
            </dict>
            <key>sikao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,722},{133,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,255}}</string>
                <key>sourceSize</key>
                <string>{133,255}</string>
            </dict>
            <key>sikao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,722},{133,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,254}}</string>
                <key>sourceSize</key>
                <string>{133,254}</string>
            </dict>
            <key>stu_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{122,263}</string>
            </dict>
            <key>teacher.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{189,199}</string>
            </dict>
            <key>timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{578,20}</string>
            </dict>
            <key>timeup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,646},{223,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,222}}</string>
                <key>sourceSize</key>
                <string>{223,222}</string>
            </dict>
            <key>wong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,98},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>xiaoshi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{720,193}</string>
            </dict>
            <key>xiaoshi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{534,157}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,11},{534,157}}</string>
                <key>sourceSize</key>
                <string>{720,193}</string>
            </dict>
            <key>xiaoshi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,98},{530,145}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,16},{530,145}}</string>
                <key>sourceSize</key>
                <string>{720,193}</string>
            </dict>
            <key>xiaoshi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,703},{460,133}}</string>
                <key>offset</key>
                <string>{-45,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,22},{460,133}}</string>
                <key>sourceSize</key>
                <string>{720,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ExaminationUI.png</string>
            <key>size</key>
            <string>{2046,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e9a0ce3f6b57aefa83e7a98fb772fdb$</string>
            <key>textureFileName</key>
            <string>ExaminationUI.png</string>
        </dict>
    </dict>
</plist>
