<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_help_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1604},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>Button_help_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1592},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>Button_selectMusic_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1512},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>Button_selectMusic_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1510},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>MaxScoreBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1031},{129,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,59}}</string>
                <key>sourceSize</key>
                <string>{129,59}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1027,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1027,768}}</string>
                <key>sourceSize</key>
                <string>{1027,768}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1024,364}</string>
            </dict>
            <key>college_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1395},{241,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,160}}</string>
                <key>sourceSize</key>
                <string>{241,160}</string>
            </dict>
            <key>college_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1348},{241,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,160}}</string>
                <key>sourceSize</key>
                <string>{241,160}</string>
            </dict>
            <key>currentScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{41,16}</string>
            </dict>
            <key>elementarySchool_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,210},{223,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,206}}</string>
                <key>sourceSize</key>
                <string>{223,206}</string>
            </dict>
            <key>elementarySchool_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{223,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,206}}</string>
                <key>sourceSize</key>
                <string>{223,206}</string>
            </dict>
            <key>icon_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1200},{311,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,316}}</string>
                <key>sourceSize</key>
                <string>{311,316}</string>
            </dict>
            <key>icon_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1031},{315,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,325}}</string>
                <key>sourceSize</key>
                <string>{315,325}</string>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{362,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,365}}</string>
                <key>sourceSize</key>
                <string>{362,365}</string>
            </dict>
            <key>juniorHighSchool_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1557},{231,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,156}}</string>
                <key>sourceSize</key>
                <string>{231,156}</string>
            </dict>
            <key>juniorHighSchool_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1557},{231,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,156}}</string>
                <key>sourceSize</key>
                <string>{231,156}</string>
            </dict>
            <key>kingdergadern_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1004},{233,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,194}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>kingdergadern_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,808},{233,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,194}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1510},{92,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{92,118}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>page_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,25},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>page_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>selectMusicNN.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1430},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>selectMusicNS.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1348},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>seniorHighSchool_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,613},{235,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,193}}</string>
                <key>sourceSize</key>
                <string>{235,193}</string>
            </dict>
            <key>seniorHighSchool_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,418},{235,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,193}}</string>
                <key>sourceSize</key>
                <string>{235,193}</string>
            </dict>
            <key>toLookForward.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1395},{237,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,109}}</string>
                <key>sourceSize</key>
                <string>{237,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelSelect.png</string>
            <key>size</key>
            <string>{1022,1715}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5279fdeb15f68d24447a1df3ca7a505$</string>
            <key>textureFileName</key>
            <string>LevelSelect.png</string>
        </dict>
    </dict>
</plist>
