<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{323,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,683}}</string>
                <key>sourceSize</key>
                <string>{323,683}</string>
            </dict>
            <key>bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1034,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1034,338}}</string>
                <key>sourceSize</key>
                <string>{1034,338}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PassAction.png</string>
            <key>size</key>
            <string>{342,1723}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3fb6d4096e8d98f18723b84c1608b1c$</string>
            <key>textureFileName</key>
            <string>PassAction.png</string>
        </dict>
    </dict>
</plist>
